.container {
  position: relative;
  width: 840px;
  margin: -40px auto 0;
  padding: 160px 80px;
  border-radius: var(--border-radius);
  background-color: #fff;
  @media (width <= 640px) {
    width: calc(100% - 32px);
    padding: 40px 16px;
  }
}

.title {
  margin-bottom: 24px;
  font-family: "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  @media (width <= 640px) {
    text-align: left;
  }
}

.text {
  font-size: 1rem;
  text-align: center;
  @media (width <= 640px) {
    text-align: left;
  }
}
